@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
body {
    overflow-x: hidden;
}
.margin-top {
    margin-top: 4rem;
}
.tags > .tag {
    font-size: 0.6rem;
}

.has-padding-columns {
    > .column {
        padding: 3rem 5rem;
    }
}
.is-divider {
    display: block;
    position: relative;
    border-top: 0.05rem solid $green;
    height: 0.05rem;
    margin: 2rem 0;
    text-align: center;
}
.has-dividers {
    margin: 3rem 0;
    vertical-align: middle;
    display: table;
    text-align: center;
    > * {
        display: table-cell;
        position: relative;
    }
    > :not(.is-divider) {
        white-space: nowrap;
        padding: 1rem;
    }
    > .is-divider {
        width: 50%;
        top: 2.1rem;
    }
}

.title.is-4.has-bar {
    &:before {
        display: block;
        content: "";
        border-top: 0.05rem solid $red;
        position: relative;
        top: 1rem;
        left: -5.5rem;
        width: 5rem;
    }
}

@media (max-width: $tablet + 2*$gap) {
    section {
        margin: 1rem;
    }
}
@media (max-width: $tablet) {
    html {
        font-size: $body-size-mobile;
    }
}
