@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
    @font-face {
        font-family: 'GrueneTypeNeue';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/GrueneTypeNeue-Regular.woff) format('woff2');
    }
}

@import "tailwindcss";

@theme {
    /* Colors */
    --color-black: #000000;
    --color-white: #ffffff;

    --color-primary-50: #E5F3EB;
    --color-primary-100: #CCE7D7;
    --color-primary-200: #B2DCC4;
    --color-primary-300: #99D0B0;
    --color-primary-400: #66B888;
    --color-primary-500: #33A161;
    --color-primary-600: #008939;
    --color-primary-700: #006E2E;
    --color-primary-800: #005222;
    --color-primary-900: #003717;
    --color-primary-950: #003717;

    --color-secondary-50: #D5EEE6;
    --color-secondary-100: #BEDDD2;
    --color-secondary-200: #A6CCBF;
    --color-secondary-300: #8EBBAB;
    --color-secondary-400: #5F9885;
    --color-secondary-500: #2F765E;
    --color-secondary-600: #005538;
    --color-secondary-700: #00432C;
    --color-secondary-800: #003221;
    --color-secondary-900: #002216;

    --color-grey-50: #F9FAFB;
    --color-grey-100: #F3FAF6;
    --color-grey-200: #E6ECEA;
    --color-grey-300: #D1DBDA;
    --color-grey-400: #9CABAF;
    --color-grey-500: #6B7A80;
    --color-grey-600: #4B5D63;
    --color-grey-700: #374951;
    --color-grey-800: #1F2F37;
    --color-grey-900: #111E27;
    --color-grey-950: #031112;

    --color-neutral-500: #F7F4ED;
    --color-neutral-600: #F5F1E9;
    --color-neutral-700: #EFE8DB;

    --color-sun-600: #FFF17A;

    --color-himmel-500: #3CB4E4;
    --color-himmel-600: #0BA1DD;
    --color-himmel-700: #0981B1;

    --color-grashalm-500: #A1CA50;
    --color-grashalm-600: #8ABD24;
    --color-grashalm-700: #6E971D;

    /* Fonts */
    --font-sans: "PT Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-gruene: "GrueneTypeNeue", sans-serif;
}

.prose a {
    color: var(--color-primary-800);
    font-weight: 600;
    text-decoration: none;
}

.prose a:hover {
    background: linear-gradient(to bottom,
            transparent 60%,
            var(--color-sun-600) 60%);
}

html {
    scroll-behavior: smooth;
}

.hljs {
    border-radius: 0.5rem;
}