.button {
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 0.25em;
    background: var(--green);
    color: var(--white);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: var(--regular);
    :not(:first-child) {
        margin-left: 0.35em;
    }
    &:hover {
        color: var(--white);
        background: darken($green, 15);
    }
}
.buttons {
    > :not(:first-child) {
        margin-left: 1rem;
    }
}
