@import "_gothic_a1.scss";
body {
    font-size: var(--base-font-size);
    color: var(--dark);
    background: var(--white);
    font-weight: var(--regular);
    font-family: "Gothic A1";
    line-height: 1.5;
}

h1 {
    font-size: var(--h1-font-size);
    @include mobile {
        font-size: var(--h1-mobile-size);
    }
    font-weight: var(--bold);
}
h2 {
    font-size: var(--h2-font-size);
    @include mobile {
        font-size: var(--h2-mobile-size);
    }
    font-weight: var(--bold);
}
h3 {
    font-size: var(--h3-font-size);
    @include mobile {
        font-size: var(--h3-mobile-size);
    }
}

.headline-block {
    margin-bottom: 1.5em;
}

.headline-icon {
    span {
        margin-left: 0.5em;
    }
}

.light {
    font-weight: var(--light);
}
.black {
    font-weight: var(--black);
}
.bold {
    font-weight: var(--bold);
}
.italic {
    font-style: italic;
}
.upper {
    text-transform: uppercase;
}
.stretch {
    letter-spacing: 0.25vw;
}

.indent {
    margin-left: 1.25em;
}

a:not(.button) {
    color: var(--dark);
    text-decoration: none;
    border-bottom: 1px solid $green;
    &:hover {
        color: var(--primary);
    }
}
