$green: hsl(146, 52%, 54%);
$dark: hsl(0, 0%, 28%);
$light: hsl(0, 0%, 100%);
$dim-opacity: 0.25;
$dim-green: transparentize($green, $dim-opacity);

$breakpoint: 768px;

:root {
    //Colors
    --green: #{$green};
    --dark: #{$dark};
    --white: #{$light};
    --dim-green: #{$dim-green};
    --primary: var(--green);

    //Font Sizes
    --base-font-size: 16px;
    --h1-font-size: 3rem; 
    --h2-font-size: 2rem; 
    --h3-font-size: 1.5rem; 
    --h1-mobile-size: 3rem;
    --h2-mobile-size: 2rem;
    --h3-mobile-size: 1.5rem; 
    --small-font-size: 0.85rem;

    //Font Weights
    --bold: 700;
    --regular: 400;
    --black: 900;
    --light: 300;
    --semi-bold: 600;
    --medium: 500;
}
